.app-products

  ul
    padding: 30px
    max-width: 900px

.li-item
  position: relative
  border-radius: 4px
  padding: 10px
  display: flex
  align-items: center
  justify-content: flex-start
  //transition: .2s
  background-color: transparent
  box-shadow: 0 0 15px 0 rgba(0,0,0,.15)
  margin-bottom: 15px

  &:last-child
    margin-bottom: 0

  img
    height: auto
    width: 100%
    max-width: 100px
    margin-right: 10px

  .descr
    display: flex
    align-items: center

    span
      margin-right: 10px

      &:first-child
        font-weight: 900
        padding: 10px
        background-color: rgba(black, .2)

  input, .view-btn
    margin-right: 10px

.li-item.active
  //transition: .2s
  background-color: green
  color: white
