<div *ngIf="!isFetching; else fetchingProducts" class="position-relative">

  <button #eventsBtn class="events-btn" (click)="onToggleEvents()">Open events</button>
  <div *ngIf="true; else noProducts" class="app-products">
    <ul class="ul-list" cdkDropList (cdkDropListDropped)="drop($event)">
      <li class="li-item" *ngFor="let prod of products | async" [class.active]="prod.active" cdkDrag>
      <div class="li-item-placeholder" *cdkDragPlaceholder [class.li-item-placeholder-inactive]="!prod.active"></div>
       <img *cdkDragPreview [src]="['assets/', prod.imageUrl].join('')" [alt]="prod.name">
       <img [src]="['assets/', prod.imageUrl].join('')" [alt]="prod.name">
       <div class="descr">
         <span>{{ prod.id }}</span>
         <span>{{ prod.name }}</span>
         <span>{{ prod.snippet }}</span>
        <!-- <span>{{ prod.date | date:'medium' }}</span>-->
       </div>
       <button [routerLink]="['/product/', prod.id]" class="view-btn">view</button>
       <input type="checkbox" [checked]="prod.active" (change)="onChange(prod.id)">
       <button (click)="onClickRemove(prod.id)">x</button>
     </li>
    </ul>

    <div #eventWrapper class="app-events" [class.active]="isOpenEvents">
      <div class="title">Product order change events</div>
      <div class="event" *ngFor="let ev of events | async">
        <span>id:</span> {{ ev.id }}<br>
        <span>name:</span> {{ ev.name }}<br>
        <span>event date:</span> {{ ev.date }}
      </div>
    </div>
  </div>

</div>

<ng-template #fetchingProducts>Loading...</ng-template>

<ng-template #noProducts>
  <div style="width: 100%; text-align: center;">No products now!</div>
</ng-template>
