.app-products

  ul
    padding-left: 0

    li
      padding-right: 10px
      display: flex
      align-items: center
      justify-content: flex-start
      transition: .2s
      background-color: transparent

      span
        margin-right: 10px

        &:first-child
          font-weight: 900
          padding: 10px
          background-color: rgba(black, .2)

      input
        margin-right: 10px

    .active
      transition: .2s
      background-color: green

      span

        &:first-child
          transition: .2s
          color: white
